
#navbar li{
    float: right;
    list-style: none;
    margin: 10px 15px;
}

#navbar ul{
    overflow: auto;
}

#navbar a{
    text-decoration: none;
    color: black;
}

#navbar img{
    float: left;
    margin: 10px;
}

#content{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
}
.section>div>div{
    background: red;
    width: 100px;
    height: 100px;
    position: absolute;

}

.sidebar {
    background-color: #8c00ef;
    color: #fff;
    width: 10%;
}

.sidebar a {
    display: block;
    margin-top: 20px;
    padding-left: 10px;
    text-decoration: none;
    color: #fff;
}

/*section{*/
/*    position: absolute;*/
/*}*/
/*div > section {*/
/*    position: relative;*/
/*    top: 105px;*/
/*    left: 6px;*/
/*    margin-bottom: 100px;*/

/*}*/
/*body > div > section > img {*/
/*    border: 1px solid green;*/
/*    width: calc((100vw)/3);*/

/*}*/

/*#text {*/
/*    padding-left: 20px;*/
/*    flex: 1;*/
/*}*/

footer{
    background-color: darkgray;
    color: white;
    text-align: center;
    overflow: auto;
    height: 5%;
}

